@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
  color: #AF1313;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

.post {
  display: flex;
}

.post + .post {
  margin-top: 10px;
}

.post-attention {
  font-size: 200%;
  text-align: right;
  margin-right: 15px;
  padding: 0px 10px;
  flex: 0 0 auto;

  background-color: #AF1313;
  color: #fff;

  border-radius: 3px;
}

.post-info {
}

.post-title {
  font-size: 150%;
}